* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: transparent;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0vw);
  }
}

.plan-adventure-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  padding: 0rem;
}

.plan-adventure-block {
  animation: slide-in 0.8s ease-in;
}

.plan-adventure-block p {
  padding-bottom: 2rem;
  color: var(--color-accent);
  font-size: larger;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
}

.select-park-line {
  z-index: 100;
  padding-top: 2rem;
}
.plan-adventure-block h3 {
  font-family: "staatliches";
  color: white;
  margin-bottom: 1rem;
  z-index: 99;
  font-size: 1.5rem;
  letter-spacing: 4px;
}

.decoration-line {
  width: 200px;
}
.dropdown-container {
  margin-bottom: 0px;
  /* padding: 30px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-height: 200px; */
}

.dropdown {
  color: #f1f1f1;
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: 1rem;
  max-width: 300px;
  width: 100%;
}

.dropdown:focus {
  outline: none;
  border: 1px solid #b56a4c;
}

@media (max-width: 768px) {
  .dropdown {
    color: #f1f1f1;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 1rem;
    min-width: 300px;
    width: 100%;
  }

  .dropdown:focus {
    outline: none;
    border: 1px solid #b56a4c;
  }

  .dropdown-container {
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .plan-adventure-block h3 {
    font-family: "staatliches";
    color: white;
    margin-bottom: 1rem;
    margin-top: 30px;
  }
}

@media (max-width: 500px) {
  /* .plan-adventure-block {
    z-index: 4; */
}

.dropdown {
  color: #f1f1f1;
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: 1rem;
  max-width: 300px;
  width: 100%;
}

.dropdown:focus {
  outline: none;
  border: 1px solid #b56a4c;
}

.dropdown-container {
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan-adventure-block h3 {
  font-family: "staatliches";
  color: white;
  margin-bottom: 1rem;
  margin-top: 30px;
}

@media (max-width: 350px) {
  /* .plan-adventure-block {
    z-index: 4; */

  .dropdown {
    color: #f1f1f1;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 1rem;
    max-width: 300px;
    width: 100%;
  }

  .dropdown:focus {
    outline: none;
    border: 1px solid #b56a4c;
  }

  .dropdown-container {
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    margin-top: 1rem;
  }

  .plan-adventure-block h3 {
    font-family: "staatliches";
    color: white;
    margin-bottom: 0rem;
    /* padding-top: 2rem; */
    /* margin-top: 2.5rem; */
    /* z-index: 99; */
  }
}
