.results-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #1a1a1a 0%, #2d2d2d 100%);
  color: #eee;
  padding: 4rem 1rem;
  padding-bottom: 120px; /* Space for mobile nav */
}

.results-container h1 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 2rem;
  color: var(--color-text);
}
.results-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  margin-bottom: 1.5rem;
  padding-top: 1rem;
  /* background-color: var(--color-bg-light); */
  border-radius: 8px;
}
.results-header p {
  color: var(--color-muted);
  margin-top: 0.5rem;
}

.back-to-filters-btn {
  background-color: var(--color-primary);
  color: rgb(255, 255, 255);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  max-width: 150px;
}

.back-to-filters-btn:hover {
  background-color: #5a6268;
}

.results-info h2 {
  margin: 0;
  color: #333;
}

.results-info p {
  margin: 0;
  color: #666;
  font-size: 0.9rem;
}
.result-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.park-card {
  background: var(--color-bg-light);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
}

.park-card:hover {
  transform: translateY(-6px);
}

.park-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.park-info {
  padding: 1rem;
  color: #333;
}
.park-location-name {
  color: var(--color-primary);
  font-weight: 600;
}
.park-info h2 {
  margin-bottom: 0.5rem;
  color: var(--accent-color, #00695c);
}

.park-card button {
  margin: 1rem;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 8px;
  background-color: var(--accent-color, #00695c);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.park-card button:hover {
  background-color: var(--accent-color-hover, #004d40);
}

.park-card-no-matches {
  background: var(--color-bg-light);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
  text-align: center;
  padding: 2rem;
  color: black;
  font-size: small;
}

.park-card-no-matches h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: black;
}

.park-card-no-matches button {
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 6px;
  background-color: #b71c1c;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.no-results button:hover {
  background-color: #8e0000;
}
