/* .icon-tooltip-container {
  padding: 0.5rem;
  background-color: #182220;
  color: #f2eeee;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(59, 58, 58, 0.6);
  font-size: 0.8rem;
} */
/* .icon-tooltip-container p {
  margin: 0;
  line-height: 1.35;
  font-family: "nunito", sans-serif;
} */
.tooltip-content {
  min-width: 120px;
  max-width: 220px;
  /* background: #ffffff; */
  opacity: 0.9;
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(59, 58, 58, 0.9);
  /* padding: 0.5rem; */
  z-index: 100;
  padding: 7px;
}
