.hover-box .icon-button {
  background: none;
  border: none;
  margin: 0;
  cursor: pointer;
  filter: invert(68%) sepia(290%) saturate(600%) brightness(150%) contrast(30%);
}

.hover-box .hiker-icon {
  width: 45px;
  filter: invert (100%);
}
.hover-box .hiker-icon:hover {
  filter: drop-shadow(0 0 6px #c3a367) invert(10%);
  transform: scale(1.15);
  transition: transform 0.2s;
  transform: rotate(-10deg);
}
