.trip-list {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.trip-list h1 {
  margin-bottom: 1rem;
  font-family: "Staatliches", sans-serif;
  color: #f2f4f3;
}

.trip-list p {
  font-size: 1.2rem;
  color: #ccc;
  margin-bottom: 2rem;
}

.trip-list__create-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #b56a4c;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 2rem;
}

.trip-list__create-button:hover {
  background-color: #9c5940;
}

.trip-list__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  flex-direction: row;
  margin-top: 2rem;
  /* grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
}

.trip-card {
  background-color: #292d2c;
  border: 1px solid #444;
  border-radius: 10px;
  padding: 1rem;
  color: white;
  transition: box-shadow 0.2s ease-in-out;
}

.trip-card:hover {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
}

.trip-card__actions {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.trip-card__actions button {
  padding: 0px;
  width: 35%;
  height: 2rem;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.trip-card h3 {
  font-family: "roboto", sans-serif;
  font-size: 1.5rem;
  margin-top: 0;
  color: rgb(244, 222, 129);
}

.trip-card__actions button:hover {
  background-color: #777;
}

.add-new-dash {
  padding: 1.5rem;
}

.add-new-dash button:hover {
  background-color: #77a098;
}
