:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --color-bg: #212122;
  --color-bg-light: #f2efef;
  --color-primary: #b56a4c;
  --color-primary-hover: #7a4a35;
  --color-accent: #ffe28a;
  --color-text: #fff9e6;
  --color-muted: #a0a0a0;
  --color-error: #e57373;
  --color-secondary: rgb(62, 81, 76);

  --font-family-base: "Helvetica Neue", Arial, sans-serif;
  --font-family-heading: "Staatliches", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* #root {
    height: 100vh;
  } */
}

a {
  font-weight: 500;
  color: #fff9e6;
  text-decoration: inherit;
}
a:hover {
  color: #627174;
}

html,
body {
  background-color: var(--color-bg);
  color: var(--color-text);
  /* min-height: 100vh; */
  min-height: 100%;
  /* overflow: hidden; */
}

h1 {
  font-family: "Staatliches", sans-serif;
  font-size: 2em;
  line-height: 1.2;
  color: #fff9e6;
}

h2,
h3,
h4,
h5,
h6 {
  color: #fff9e6;
}

button {
  background-color: #b56a4c;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  /* transition: background-color 0.3s ease; */
}

button:hover {
  background-color: #7d491f;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #212222;
    background-color: #f2efef;
  }
  a:hover {
    color: #777;
  }
  button {
    background-color: #b56a4c;
  }
}
