.welcome-modal-content {
  animation: fadeInUp 0.6s ease-out;
  text-align: center;
  color: var(--color-text);
}
.modal-logo {
  max-width: 300px;
  margin: 0 auto 1rem;
}
.welcome-title {
  font-size: 1.8rem;
  font-family: var(--font-family-heading);
  text-transform: uppercase;
  color: var(--color-accent);
  margin-bottom: 0.25rem;
}

.welcome-subtitle {
  color: var(--color-primary);
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.instruction-list {
  list-style-type: decimal;
  /* padding-left: 1.5rem; */
  text-align: left;
  margin-bottom: 1.5rem;
}

.instruction-list li {
  margin-bottom: 0.75rem;
  font-size: 1rem;
  color: white;
  line-height: 1.5;
  font-weight: 500;
}

.instruction-list strong {
  color: var(--color-accent);
  font-weight: 600;
}

.email-example {
  background-color: white;
  padding: 1rem;
  border-radius: 12px;
  border-left: 4px solid #dca8a2;
  margin: 1rem auto 1.5rem;
  max-width: 400px;
  margin-top: 1rem;
}

.email-example-label {
  font-size: 0.8rem;
  color: var(--color-secondary);
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.email-example-text {
  display: inline-block;
  font-family: "Courier New", monospace;
  border-radius: 6px;
  color: var(--color-primary);
  font-weight: bold;
  font-size: 1rem;
  margin-top: 0.25rem;
  letter-spacing: 0.8px;
}

.get-started-btn {
  background: var(--color-primary);
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 800;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.get-started-btn:hover {
  background-color: var(--color-accent);
  color: var(--color-secondary);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .login-modal .modal-container {
    margin-top: 60px;
    padding: 2rem;
    max-width: 90%;
    width: 100%;
  }

  .modal-logo {
    max-width: 260px;
    /* margin: 0 auto 1rem; */
  }
  .welcome-title {
    font-size: 1.5rem;
  }

  .instruction-list li {
    font-size: 0.9rem;
    margin-left: 1.5rem;
  }
  .email-example {
    padding: 0.75rem;
    font-size: 0.9rem;
    min-width: 280px;
  }
  .email-example-text {
    font-size: 1rem;
  }

  .get-started-btn {
    font-size: 0.95rem;
    padding: 0.75rem;
  }
}
