* {
  margin: 0;
  padding: 0;
}

.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #2f3835;
  opacity: 95%;
  z-index: 1000;
  /* justify-content: center; */
  /* align-items: center; */
}

.modal-container {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  width: 90vw;
  max-height: 450px;
  background-color: #000;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(59, 58, 58, 0.6);

  /* Center children vertically and horizontally */
  display: flex;
  flex-direction: column;
  align-items: center; /* horizontal centering */
  justify-content: center; /* vertical centering */
  padding: 2rem 1rem;
  z-index: 1100;
}

.modal-header h2 {
  color: #f1f1f1;
  font-size: 1.8rem;
  font-family: "staatliches", sans-serif;
  margin: 0rem;
  padding: 0rem;
  text-align: center;
  /* margin-top: 1rem; */
}
.close-button {
  position: absolute;
  top: 0.5rem;
  right: -8.5rem;
  background: none;
  border: none;
  color: #f1f1f1;
  font-size: 1rem;
  cursor: pointer;
}
.modal-container input {
  margin-left: -0.15rem;
}

.modal-container button {
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  margin-bottom: 0rem;
  padding: 0.5rem;
}

.modal-container form {
  width: 100%;
  max-width: 300px; /* or whatever you prefer */
  margin-top: -2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-label {
  font-size: 0.9rem;
  color: #f1f1f1;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 0rem;
  width: 85%;
  text-align: left;
}

/* .modal-container {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 450px;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(59, 58, 58, 0.4);
} */

/* .modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
} */
